/*===============================================BODY SECTION==========================================================*/
body {
    background: linear-gradient(#E2E2E2, #FFFFFF);
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue;
}

/*=====================================================================================================================*/
/*===============================================FIRST PAGE 1==========================================================*/
/*=====================================================================================================================*/

/*===============================================HEADER SECTION==========================================================*/

.portraits {
    font-style: normal;
    font-weight: bold;
    font-size: 11vh;
    line-height: 12vh;
    color: #000000;

    margin-bottom: 0;
    margin-left: 2vw;

    animation: appearing_header 3s;
}

.portraits:hover {
    cursor: default;
}

@keyframes appearing_header {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media all and (max-device-aspect-ratio: 1/1) {
    .portraits {
        font-size: 7vh;
        line-height: 8vh;
        margin-top: 4vh;
    }
}

@media all and (max-width: 375px) {
    .portraits {
        font-size: 6vh;
        line-height: 7vh;
    }
}

/*===============================================LINE SECTION==========================================================*/

.line {
    width: 70vw;
    height: 0.25vh;
    background-color: #000000;

    position:absolute;
    left: 0;

    animation: moving_line 3s ease-out;
}

@keyframes moving_line {
    0%{
        opacity: 0;

        left: -70%;
        transform: translate(-5.34vh, 0);
    }
    100%{
        opacity: 1;

        left: 0;
        transform: translate(0, 0);
    }
}

@media all and (max-device-aspect-ratio: 1/1) {
    .line {
        width: 55vw;
    }

    @keyframes moving_line {
        0%{
            opacity: 0;

            left: -55vw;
            transform: translate(-5.34vh, 0);
        }
        100%{
            opacity: 1;

            left: 0;
            transform: translate(0, 0);
        }
    }
}

/*===============================================PEN SECTION==========================================================*/

.pen {
    width: 5.34vh;
    height: 70vh;

    background-image: url("Assets/Liner.png");
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    left: 70vw;
    transform-origin: top center;
    overflow: hidden;

    animation: moving_pen 3s ease-out 1 normal 0s forwards;
}

@keyframes moving_pen {
    0%{
        opacity: 0;

        left: -5.34vh;
        transform: translate(-2.67vh, 0) rotate(30deg);
    }
    100%{
        opacity: 1;

        left: 70vw;
        transform: translate(-2.67vh, 0) rotate(-30deg);
    }
}

@media all and (max-width: 768px) {

    @keyframes moving_pen {
        0%{
            opacity: 0;

            left: -5.34vh;
            transform: translate(-2.67vh, 0) rotate(30deg);
        }
        100%{
            opacity: 1;

            left: 70vw;
            transform: translate(-2.67vh, 0) rotate(-20deg);
        }
    }
}

@media all and (max-device-aspect-ratio: 1/1) {
    @keyframes moving_pen {
        0%{
            opacity: 0;
            transform: translate(-2.67vh, 0) rotate(30deg);
            left: -5.34vh;
        }
        100%{
            opacity: 100%;
            transform: translate(-2.67vh, 0) rotate(-20deg);
            left: 55vw;
        }
    }
}

@media all and (max-device-aspect-ratio: 1/1) and (max-width: 425px){
    @keyframes moving_pen {
        0%{
            opacity: 0;

            left: -5.34vh;
            transform: translate(-2.67vh, 0) rotate(30deg);
        }
        100%{
            opacity: 100%;

            left: 55vw;
            transform: translate(-2.67vh, 0) rotate(-20deg);
        }
    }
}

@media all and (max-width: 375px) {
    @keyframes moving_pen {
        0%{
            opacity: 0;

            left: -5.34vh;
            transform: translate(-2.67vh, 0) rotate(30deg);
        }
        100%{
            opacity: 100%;

            left: 55vw;
            transform: translate(-2.67vh, 0) rotate(-15deg);
        }
    }
}

/*===============================================PEN TEXT SECTION==========================================================*/

.precise {
    font-style: normal;
    font-weight: bold;
    font-size: 4vh;
    line-height: 5.34vh;

    width: 45vh;

    color: #E2E2E2;
    opacity: 0;

    transform-origin: top left;
    transform: rotate(90deg) translate(25vh, -5.7vh);

    animation: appearing_header 1s 1 normal 2s forwards;
}

/*===============================================DESCRIPTION 1 SECTION==========================================================*/

.description1 {
    font-style: normal;
    font-weight: bold;
    font-size: 5vh;
    line-height: 6vh;

    color: #000000;
    opacity: 0;

    width: 30vw;

    margin-left: 2vw;

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    animation: appearing_header 2s 1 normal 1s forwards;
}

@media all and (max-width: 768px) {

    .description1 {
        width: 40vw;
    }
}

@media all and (max-device-aspect-ratio: 1/1) {

    .description1 {
        font-size: 5vh;
        line-height: 6vh;

        width: 50vw;
    }
}

@media all and (max-width: 425px) {

    .description1 {
        font-size: 4vh;
        line-height: 5vh;

        width: 50vw;

        transform: translate(0, -80%);
    }
}

/*===============================================FINEST SECTION==========================================================*/

.finest {
    font-style: normal;
    font-weight: bold;
    font-size: 8vh;
    line-height: 9vh;
    text-align: right;

    width: 40vw;

    color: #000000;
    opacity: 0;

    position: absolute;
    top: 65vh;
    right: 23vw;
}

.first {
    animation: finest_appear_1 2s 1 normal 3s forwards;
}

.second {
    color: #FFC700;

    animation: finest_appear_2 2s 1 normal 3.25s forwards;
}

.third {
    animation: finest_appear_3 2s 1 normal 3.5s forwards;
}

@keyframes finest_appear_1 {

    0%{
        opacity: 0;

        transform: translate(-5vw, -100%);
    }
    100%{
        opacity: 1;

        transform: translate(0, -100%);
    }
}

@keyframes finest_appear_2 {

    0%{
        opacity: 0;

        transform: translate(-5vw, 0);
    }
    100%{
        opacity: 1;

        transform: translate(1vw, 0);
    }
}

@keyframes finest_appear_3 {

    0%{
        opacity: 0;

        transform: translate(-5vw, 100%);
    }
    100%{
        opacity: 1;

        transform: translate(2vw, 100%);
    }
}

@media all and (max-device-aspect-ratio: 1/1) {

    .finest {
        font-size: 6vh;
        line-height: 7vh;

        top: 70vh;
        right: 30%;
    }
}

@media all and (max-width: 425px) {

    .finest {
        font-size: 5vh;
        line-height: 6vh;

        top: 70vh;
        right: 30%;
    }
}

/*===============================================CAP IMG SECTION==========================================================*/

.cap {
    width: 5vh;
    height: 16.4vh;

    background-image: url("Assets/Cap.png");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;

    margin: 0px;

    position: absolute;
    right: calc(23vw + 4 * 6vh);
    top: 60vh;
    transform: rotate(200deg) scale(1.2);

    animation: cap_animation 1s 1 normal 3.5s forwards;
}

@media all and (max-device-aspect-ratio: 1/1) {

    .cap {
        top: 70vh;
        right: calc(23vw + 4 * 6vh);
    }
}

@media all and (max-width: 425px) {

    .cap {
        top: 70vh;
        right: calc(23vw + 4 * 5vh);
    }
}

@keyframes cap_animation {
    0%{
        opacity: 0;

        transform: rotate(190deg) scale(1.2);
    }
    100%{
        opacity: 100;

        transform: rotate(200deg) scale(1);
    }
}

/*=====================================================================================================================*/
/*===============================================SECOND PAGE 3=========================================================*/
/*=====================================================================================================================*/

/*===============================================SPLASH SECTION==========================================================*/

.splash {
    width: 55vw;
    height: 100vh;

    background-image: url("Assets/Splash.png");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
    position: absolute;

    top: 100vh;
    right: 2vw;

    animation: splash_animation 0.5s 1 paused 2s forwards;
}

@keyframes splash_animation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media all and (max-device-aspect-ratio: 4/3) {

    .splash {
        top: 120vh;
    }
}

@media all and (max-device-aspect-ratio: 1/1) {

    .splash {
        width: 88vw;

        top: 103vh;
    }
}

@media all and (max-width: 425px) {

    .splash {
        display: none;
    }
}

/*===============================================HAND SECTION==========================================================*/

.hand {
    height: 70vh;
    width: 128.44vh;

    background-image: url("Assets/Hand.png");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;

    position: absolute;
    top: 120vh;
    transform-origin: bottom right;

    animation: hand_animation 2s 1 paused 0s forwards;
}

@keyframes hand_animation {
    0%{
        opacity: 0;

        left: 0;
        transform: scale(1.4);
    }
    100%{
        opacity: 1;

        left: calc(-128.44vh + 50vw);
        transform: scale(1);
    }
}

@media all and (max-device-aspect-ratio: 1/1) {
    .hand {
        animation: ipad_hand_animation 2s 1 paused 0s forwards;
    }

    @keyframes ipad_hand_animation {
        0%{
            opacity: 0;

            right: 0;
            transform: scale(1.4);
        }
        100%{
            opacity: 1;

            right: 40vw;
            transform: scale(1);
        }
    }
}

@media all and (max-width: 425px) {
    .hand {
        animation: short_hand_animation 2s 1 paused 0s forwards;
    }

    @keyframes short_hand_animation {
        0%{
            opacity: 0;

            right: 0;
            transform: scale(1.4);
        }
        100%{
            opacity: 1;

            right: 10vw;
            transform: scale(1);
        }
    }
}

/*===============================================STROKE SECTION==========================================================*/

.brush_stroke {
    height: .7vh;

    background-color: #000000;

    position:absolute;
    right: 0;
    top: calc(120vh + 70vh - .8vh);

    animation: stroke_animation 2s 1 paused 0s forwards;
}

@keyframes stroke_animation {
    0%{
        width: calc(100vw - 128.44vh);

        opacity: 0;
    }
    100%{
        width: 50.5vw;

        opacity: 1;
    }
}

@media all and (max-device-aspect-ratio: 1/1) {
    .brush_stroke {
        animation: ipad_stroke 2s 1 paused 0s forwards;
    }

    @keyframes ipad_stroke {
        0%{
            width: 0;

            opacity: 0;
        }
        100%{
            width: 42vw;

            opacity: 1;
        }
    }
}

@media all and (max-width: 425px) {
    .brush_stroke {
        animation: short_stroke 2s 1 paused 0s forwards;
    }

    @keyframes short_stroke {
        0%{
            width: 0;

            opacity: 0;
        }
        100%{
            width: 12vw;

            opacity: 1;
        }
    }
}

/*===============================================ACCENTS SECTION==========================================================*/

.accents {
    font-style: normal;
    font-weight: bold;
    font-size: 7vh;
    line-height: 7vh;
    text-align: right;

    color: #E2E2E2;
    opacity: 0;

    width: 40vw;

    position: absolute;
    right: 16vh;
    bottom: 27vh;
}

@media all and (max-width: 425px) {
    .accents {
        font-size: 5vh;
        line-height: 6vh;
    }
}

.first_accent {
    color: #E2E2E2;

    animation: accent_1 2s 1 paused 2s forwards;
}

.second_accent {
    color: #FFC700;

    animation: accent_2 2s 1 paused 2.25s forwards;
}

@keyframes accent_1 {
    0%{
        opacity: 0;

        transform: translate(-5vw, -100%);
    }
    100%{
        opacity: 1;

        transform: translate(0, -100%);
    }
}

@keyframes accent_2 {
    0%{
        opacity: 0;

        transform: translate(-5vw, 0);
    }
    100%{
        opacity: 1;

        transform: translate(1vw, 0);
    }
}

/*===============================================WATERCOLOR SECTION==========================================================*/

.watercolor {
    font-style: normal;
    font-weight: bold;
    font-size: 8vh;
    line-height: 9vh;
    text-align: left;

    width: calc(50vw - 2vh);

    color: #000000;

    position: absolute;
    opacity: 0;

    left: 2vh;
    bottom: 5vh;
}

.watercolor_1 {
    animation: water_1 2s 1 paused 2s forwards;
}

.watercolor_2 {
    animation: water_2 2s 1 paused 2.25s forwards;
}

@keyframes water_1 {
    0%{
        opacity: 0;

        transform: translate(5vw, -100%);
    }
    100%{
        opacity: 1;

        transform: translate(0, -100%);
    }
}

@keyframes water_2 {
    0%{
        opacity: 0;

        transform: translate(5vw, 0);
    }
    100%{
        opacity: 1;

        transform: translate(0vw, 0);
    }
}

@media all and (max-device-aspect-ratio: 1/1) {
    .watercolor {
        font-size: 4vh;
        line-height: 5vh;

        width: 35vw;

        bottom: 3vh;
    }
}

@media all and (max-width: 425px) {
    .watercolor {
        font-size: 6vh;
        line-height: 7vh;
        text-align: right;

        opacity: 0;

        width: 80vw;

        left: -75vw;
        height: 8vh;
        top: 13vh;
    }
}

/*=====================================================================================================================*/
/*===============================================THIRD PAGE 3==========================================================*/
/*=====================================================================================================================*/

/*===============================================PHOTO SECTION==========================================================*/

#third_page {
    display: flex;
    position: relative;
}

.jenya_photo {
    width: 52.5vh;
    height: 70vh;
    border-radius: 10px;

    background-image: url("Assets/Photos/Jenya.jpg");
    background-repeat: no-repeat;
    background-size: contain;

    margin: 0;

    opacity: 0;

    position: absolute;
    background-position: center;

    box-shadow:
            0 3px 2px rgba(0, 0, 0, 0.034),
            0 7px 5px rgba(0, 0, 0, 0.048),
            0 13px 10px rgba(0, 0, 0, 0.06),
            0 22px 18px rgba(0, 0, 0, 0.072),
            0 42px 33px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);

    filter: grayscale(100%);

    background-size: 52.5vh 70vh;

    animation: photo 3s 1 paused 0s forwards;
}

@keyframes photo {
    0%{
        background-size: 52.5vh 70vh;
        opacity: 0;

        top: 10vh;
        left: 50vw;
    }
    50%{
        background-size: 52.5vh 70vh;

        opacity: 1;

        top: 10vh;
        left: 47.5vw;
    }
    100%{
        background-size: 117vh 156vh;
        background-position: 66% 27%;

        opacity: 1;

        top: 10vh;
        left: 47.5vw;
    }
}

@media all and (max-device-aspect-ratio: 1/1) {
    .jenya_photo {
        margin-top: 20vh;

        width: 100vw;
        height: 133.33vw;
    }

    @keyframes photo {
        0%{
            opacity: 0;
        }
        50%{
            background-size: 100vw 133.33vw;

            opacity: 1;
        }
        100%{
            background-size: 222.85vw 297.14vw;
            background-position: 66% 27%;

            opacity: 1;
        }
    }
}

/*===============================================MAIN PORTRAIT SECTION=====================================================*/

.main_painting {
    width: 52.5vh;
    height: 70vh;
    border-radius: 10px;

    background-image: url("Assets/Paint_portraits/Jenya.JPG");
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0;

    opacity: 0;

    position: absolute;

    box-shadow:
            0 3px 2px rgba(0, 0, 0, 0.034),
            0 7px 5px rgba(0, 0, 0, 0.048),
            0 13px 10px rgba(0, 0, 0, 0.06),
            0 22px 18px rgba(0, 0, 0, 0.072),
            0 42px 33px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);

    animation: main_painting 3s 1 paused 3s forwards;
}

@keyframes main_painting {
    0%{
        opacity: 0;

        top: 10vh;
        left: 47.5vw;
    }
    50%{
        opacity: 1;

        top: 10vh;
        left: 47.5vw;
    }
    100%{
        opacity: 1;

        top: 20vh;
        left: calc(52.5vw - 52.5vh);
    }
}

@media all and (max-device-aspect-ratio: 1/1) {
    .main_painting {
        margin-top: 20vh;

        width: 100vw;
        height: 133.33vw;
    }

    @keyframes main_painting {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
}
















